#smartdump-simplehtml {
    background: #FFF;
    color: #000;
}

#smartdump-simplehtml .aggregate-child-name .visibility {
    color: #999;
}

#smartdump-simplehtml .aggregate-child-name .static {
    color: #999;
}

#smartdump-simplehtml .string-node {
    color: #10720E;
}

#smartdump-simplehtml .boolean-node,
#smartdump-simplehtml .null-node,
#smartdump-simplehtml .resource-node {
    color: #860088;
}

#smartdump-simplehtml .aggregate-node-foldout .aggregate-node-name {
    color: #00F;
}
